## Grunnleggende
## Linjeskift, F-streng, Variabler, Streng, Typer, Operator

### Linjeskift
Legg til end=' ' i slutten av print-setningen, kommer ikke linjeskift.

In [236]:
# Hello World 42
print('Hello', 'World', 40 + 2)

# Hello
print('Hello')

# World
print('World')

# HelloWorld42
print('Hello', end='')
print('World', end='')
print(40 + 2)

Hello World 42
Hello
World
HelloWorld42

In [237]:
# En streng kan inneholde linjeskift (\n)
print('Denne strengen\ninneholder to\nlinjeskift')

# En streng kan inneholde apostrof (')
print('Her \'er\' det apostrof')
print("Her 'er' det apostrof")  # bedre løsning: bytt typen anførselstegn

# En streng kan inneholde bakstrek (\)
print('C:\\mappe\\script.py')

Denne strengen
inneholder to
linjeskift
Her 'er' det apostrof
Her 'er' det apostrof
C:\mappe\script.py

### F-streng
Lar deg inkludere strenger og variabler, på en enkel lesbar måte i en streng.
Uten f, vil ikke python tolke innholdet i krøllparantesene som variabler, eller uttrykk, men bare vanlig tekststreng.

In [238]:
age = 20
print(f'Your age is {age}')

Your age is 20

In [239]:
x = 2
y = 3
print(f'Visste du at {x} + {y} er {x + y}?')

Visste du at 2 + 3 er 5?

### Variabler
Plassholder for data som kan brukes til å lagre verdier som kan endres eller gjenbrukes i koden.

In [240]:
# Opprette variabler
navn = "Alice"  # En streng (tekst)
alder = 25      # Et heltall (int)
høyde = 1.75    # Et desimaltall (float)
er_student = True  # En boolean (True/False)

print(navn)  # Output: Alice
print(alder)  # Output: 25

Alice
25

#### En variabel kan endres når som helst i koden.

In [241]:
x = 10
print(x)  # Output: 10

x = 20
print(x)  # Output: 20

10
20

Kan innholde data av ulike typer, slik som heltall,float, liste og dictionary. En dictionary lagrer data i nøkkel-verdi-par. Hente ut data basert på unike nøkler, i stedet for posisjon, slik som i lister.

In [242]:
# Eksempel på en dictionary
ordbok = {
    "navn": "Alice",  # 'navn' er nøkkelen, "Alice" er verdien
    "alder": 25,      # 'alder' er nøkkelen, 25 er verdien
    "student": True   # 'student' er nøkkelen, True er verdien
}

print(ordbok)

{'navn': 'Alice', 'alder': 25, 'student': True}

In [243]:
# Tilgang til verdier, bruker nøkkelen i []
print(ordbok["navn"])   # Output: Alice
print(ordbok["alder"])  # Output: 25

Alice
25

#### Tilordning, kan tilordnes med alle symbol-operasjonene, og på samme linje

In [244]:
x = 42

x += 2       # det samme som  x = x + 2
x -= 3 - 1   # det samme som  x = x - (3 - 1)
x //= 10     # det samme som  x = x // 10
x **= 5 // 2 # opphøyes,  x = x ** (5 // 2)
x *= 2 + 3   # det samme som  x = x * (2 + 3)
x %= 3       # finner resten når x deles på 3.
x /= 3       # det samme som  x = x / 3

In [245]:
x = y = z = 5   # alle tre variablene x, y og z refererer nå til verdien 5
print(x, y, z)  # 5 5 5

a, b = 2, 3     # a refererer nå til verdien 2, b refererer nå til verdien 3
print(a, b)     # 2 3

5 5 5
2 3

### Utrykk

Alt som kan regnes ut til en verdi. 

#### Eksempler på uttrykk:

#### Enkle verdier:
42 (et tall)
'Hei verden' (en tekststreng)

#### Variabler:
x (hvis x allerede har fått en verdi)

#### Regnestykker:
 3 + 2 (gir verdien 5)
 y > 5 (gir verdien True eller False avhengig av hva y er)

#### Funksjoner:
 len(x) (gir lengden av en liste eller tekst)
 min(2, y) (gir det minste tallet mellom 2 og y)

#### Kombinasjoner:
 (len(x) > 5) and (y < 10) (gir True eller False basert på betingelsene)
 Kort sagt: Et uttrykk er som et "regnestykke" Python kan evaluere til én verdi.

#### Variabler referer til verdier, ikke utrykk

In [246]:
x = 3 + 2
# Python husker at x = 5, men ikke hvordan 5 ble laget

### Strenger
Verdi som representerer tekst, og som vist tidligere kan den lagres i en variabel

In [247]:
# En streng kan lagres i en variabel.
foo = 'bar'
print('foo')  # 'foo' er en streng (skriver ut: foo)
print(foo)    # foo er en variabel (skriver ut: bar)

foo
bar

#### Lengden til en streng, len()

In [248]:
x = 'foo'
print(len(x))

3

#### Kan lime sammen strenger med +
viktig å legge merke til forskjell mellom int, og strenger med +.

In [249]:
# Strenger konkateneres (limes sammen) med pluss (+)
print('foo' + 'bar') # foobar

a = 'super'
b = 'duper'
c = a + b
print(c) # superduper

foobar
superduper

In [250]:
# Pluss med strenger: konkatenasjon
x = '12'
y = '34'
print(x + y) # 1234

# Pluss med tall: addisjon
x = 12
y = 34
print(x + y) # 46

1234
46

#### Repterer strenger flere ganger med * og et tall

In [251]:
# Strenger repeteres flere ganger med gangesymbol (*) og et tall
print('*' * 9) # *********

s = 'bar'
print(2 * s) # barbar

*********
barbar

### Input fra terminal
Kan klare å lese input fra terminalen, og gi denne videre. Input er alltid en streng, hvis vi skal ha en float, eller int, må vi konvertere stringen.

In [252]:
# Les input og skriv ut en hilsen
# print('Skriv ditt navn')
# name = input()
# print(f'Hei, {name}!')

In [253]:
# Når input er et tall
# print('Skriv et tall') 
# a = input() # f. eks. 4

# print('Skriv et tall til')
# b = input() # f. eks. 2

# print('Før konvertering er a og b strenger. a + b =', a + b) # 42

# Konverterer til tall
# a = int(a)
# b = int(b)

# print('Etter konvertering er a og b heltall. a + b =', a + b) # 6

### Typer

Enhver verdi har en type, også kalt klasse. Det er en mal for å lage objekter og definerer deres egenskaper og funksjoner. F.eks int, str, list.
Kan bruke type til å se hvilken type en verdi har.

In [254]:
print('Noen elementære typer i Python:')
print(type('foo'))        # str       (streng/tekst)
print(type(2))            # int       (heltall)
print(type(2.2))          # float     (flyttall/desimaltall)
print(type(True))         # bool      (boolsk verdi; True eller False)
print(type(None))         # NoneType  («ingenting» -verdien har egen type)
print(type([1, 2, 3, 4])) # list      (en liste av andre verdier)
print()
print(type((1, 2, 3, 4))) # tuple
print(type({1, 2, 3, 4})) # set
print(type({1: 2, 3: 4})) # dict

Noen elementære typer i Python:
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>
<class 'list'>

<class 'tuple'>
<class 'set'>
<class 'dict'>

#### Eksempel på opprettelse av dict
nøkkelen er bokstav, og verdien er liste over ordene på den bokstaven

In [255]:
word_list=["apple", "banana", "apricot", "blueberry", "cherry", "avocado", "carrot"]

#Oppretter en dict
letter_dict={}

# Iterere gjennom ord og sortere etter startbokstav
for word in word_list:
    first_letter=word[0] #Finner første bokstav
    if first_letter not in letter_dict:
        letter_dict[first_letter]=[] # Oppretter ny nøkkel med tom liste
    letter_dict[first_letter].append(word) # Legger til ordet i riktig liste

print(letter_dict)

{'a': ['apple', 'apricot', 'avocado'], 'b': ['banana', 'blueberry'], 'c': ['cherry', 'carrot']}

#### Set
Når man må jobbe med unike elementer, og/eller ikke kan ha like elementer i en liste, kan bruke til å finne det første like elementet i to lister

In [256]:
def find_equal_element(list1, list2):
    # Konverterer en av listene til et set
    set1= set(list1)

    # Sjekker elementer i den andre listen mot set.
    for num in list2:
        if num in set1:
            return num # Returnerer det første felles elementet.

    # Ingen felles tall 
    return None 

liste1 = [1, 2, 3, 4, 5]
liste2 = [5, 6, 7, 8]

resultat = find_equal_element(liste1, liste2)
print(resultat)

5

### Operator
For å utføre operasjon.
Når man sjekker om to heltall er like bruker man ==, dette bør man ikke bruke for float. Siden har desimaltall, som kan føre til små avrundingsfeil. Får to tall som ser like ut, ikke nødvendigvis er like i bineær form.  
Bør bruke en epsilon, hvor nærme to tall må være for å være like. Deretter ser vi på absoluttverdien av aviket, hvis forskjellen er mindre enn epsilon, regnes de som like. 

Bør gjøre slik som dette:

In [257]:
print(0.1 + 0.2 == 0.3)  # Output: False
# Grunnen er at 0.1 + 0.2 evalueres til 0.30000000000000004

False

In [258]:
def almost_equals(a, b):
    epsilon = 0.0000000001
    return abs(a - b) < epsilon # abs()-funksjonen gir absolutt-verdien

print(0.1 + 0.1 + 0.1 == 0.3)  # False
print(almost_equals(0.1 + 0.1 + 0.1, 0.3))  # True

False
True

### Sjekke om partall
Partall er delelig med 0

In [259]:
num = 42
is_num_even = (num % 2) == 0
print(f'{num} er et partall: {is_num_even}')

42 er et partall: True

### Presedens og assosiativitet
Vi leser venstre til høyre hvis vi har like i en kode.
Untk er **, den er fra høyre til venstre. 

Relasjonene (altså ==, !=,  <,  <=,  >,  >=, in not, in, is, is not) assosierer hverken til høyre eller til venstre; dersom man har flere slike i et uttrykk vil de komponeres som en konjunksjon i stedet. For eksempel, -1 < 0 == False vil tolkes som (-1 < 0) and (0 == False), og altså ikke som (-1 < 0) == False. Dette ser vi på som lenkede sammenligninger for korte kompakte uttrykk.

Konjuksjon brukes til å kombinere to eller flere uttrykk. 

<img src="image.png" alt="Operatortabell" width="600">

In [260]:
# Fort gjort å gjøre feil
print(True or True and False) # and høyere prioritet enn False, altså T or F er T.
print(not False or True)
print(not (False or True))
print()
print(2 < 3 < 4)
print(not 3 < 2 < 1) # Ser på 3 < 2 < 1 før not, dermed blir det T
print(not 3 < 2 and 2 < 1) # not 3 < 2 er T, 2<1 er F, T and F er F.
print()
print('b' in 'box')
print('b' in 'box' == True) # (krasjer),dette skjer siden det er en lenket sammenligning 
('b' in 'box') and ('box' == True) # 'box' == True, dette gir ikke mening. 
print()
print('a' and 'b' in 'box')
print('a' or 'z' in 'box') # 'a' returneres siden det er en sann verdi, den er ikke tom. Derfor returneres a.

True
True
False

True
True
False

True
False

True
a

In [261]:
print('x' or 'y' in 'yes')  # Output: 'x', or returnerer den første sannhetsverdien i utrykket.
print('' or 'y' in 'yes')   # Output: True

x
True

In [262]:
# Lenkede sammenligninger
x = 5
print(0 < x < 10)
print(x > 0 and x < 10)  # Output: True

True
True

In [263]:
-1 < 0 == False
(-1 < 0) and (0 == False) # 0 regnes som false i boolske sammenhenger

True

#### If else

In [264]:
# Eksempel på uttrykk med betingelse
age = 20
status = 'et barn' if age < 18 else 'en voksen'
print(f'Alder: {age}. Dette er {status}.')  # Alder: 20. Dette er en voksen.

# Generelt
condition = True  # or False
value_if_true = 'a'
value_if_false = 'b'
result = value_if_true if condition else value_if_false # a if true else false, hvis condition er false, ville b blitt printet.
print(result)  # a

Alder: 20. Dette er en voksen.
a